@font-face {
    font-family: 'GmarketSansBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'GmarketSansBold';
    margin: 0px;
    box-sizing: border-box;
}

#container {
    height: auto;
}

#profile h1 {
    font-size: 50px;
    font-weight: 900;
}

#header {
    width: 100%;
    height: 100px;
    background-color: lightslategray;
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 2;
}

header {
    position: relative;
    display: flex;
    justify-content: space-between;
}

#header h1 {
    color: white;
    margin-left: 30px;
    padding: 10px;
    font-size: 30px;
    cursor: pointer;
}

#header h1:hover {
    color: transparent;
}

#header h1:hover::before {
    color: white;
    content: "LeeDongIn";
}


#header ul li>a {
    padding: 10px;
    border-radius: 6px;
    align-items: center;
    font-weight: bold;
    transition: 0.2s ease all;
    font-size: 20px;
    text-align: center;
    margin-right: 10px;
}

#header ul li:hover>a {
    transition: 0.2s ease all;
    list-style-type: none;
    padding: 10px;
    border-radius: 6px;
    align-items: center;
    background-color: white;
    font-size: 20px;
    color: #555759;
}

#header ul li>a:active {
    background-color: #b8c7d6;
    transition: 0.2s ease all;
}


header ul {
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#header a {
    text-decoration: none;
    color: white;
}

#profile {
    width: 100%;
    height: 650px;
    background-color: #D6DBE0;
    text-align: center;
    padding-top: 100px;
}

#profile hr {
    width: 400px;
    height: 4px;
    background-color: black;
}

#profile img {
    width: auto;
    height: 360px;
    /*마우스 오버의 반대 = 기본상태에 트랜지션을 주고 hover에트랜지션을 준다.*/
    transition: 0.3s ease all;
    margin: 10px 0px 10px 0px;
}

#profile img:hover {
    width: auto;
    height: 400px;
    transition: all 0.3s;
}

.portfolio {
    background-color: white;
    width: 100%;
    padding: 60px 0px;
    text-align: center;
}

.portfolio h1 {
    font-size: 45px;
    font-weight: 900;
}

.portfolio img {
    width: auto;
    height: 360px;
    cursor: pointer;
    margin: 40px 28px 40px 28px;
    transition: 0.4s ease all;
}

/*존재하지 않은 포폴은 use로 사용 */
.use:hover {
    box-shadow: 3px 3px 40px gold;
    width: auto;
    height: 360px;
    filter: blur(5px);
    transition: 0.4s ease all;
    filter: brightness(110%);
}

/*존재 하지않은 포폴은 클래스를 none으로 줌*/
.none:hover {
    box-shadow: 2px 2px 15px gray;
    width: auto;
    height: 360px;
    filter: blur(5px);
    transition: 0.4s ease all;
    filter: brightness(90%);
    filter: grayscale(100%);
}

.portfolio hr {
    width: 1230px;
    border: 2px solid black;
    background-color: black;
}

.about {
    width: auto;
    height: 280px;
    background-color: #D6DBE0;
    text-align: center;
    padding: 10px;
    font-size: 30px;
}

.about h1 {
    font-size: 50px;
}

.about hr {
    width: 400px;
    height: 2px;
    border: 2px solid black;
    background-color: black;
}

.contact {
    width: auto;
    height: 300px;
    background-color: #555759;
    text-align: center;
    padding: 20px;
}

.contact hr {
    width: 400px;
    height: 2px;
    border: 2px solid black;
    background-color: black;
}

.contact h1 {
    font-size: 45px;
}